
<!DOCTYPE html>
<html lang="en">

<head>
    @Html.Action("MetaPartial", "Partial")
    @{
        string Description = ViewBag.Description;
        HtmlAgilityPack.HtmlDocument doc = new HtmlAgilityPack.HtmlDocument();
        doc.LoadHtml(Description);
        string plainText = doc.DocumentNode.InnerText;
    }
    <meta content="@Html.Raw(ViewBag.Keyword)" name="keywords">
    <meta content="@plainText" name="description">
    <title>@ViewBag.Title | Mẹo lập trinh</title>
    @Html.Action("LinkPartial", "Partial")
</head>

<body>
    <!-- Loader Start -->
    <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Loader End -->
    @Html.Action("MenuPartial", "Partial")
    @RenderBody()
    @Html.Action("FooterPartial", "Partial")
    @Html.Action("ScriptPartial", "Partial")
</body>

</html>